// google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

html{
  overflow-x: hidden;
}
body{
  background-color: #101010!important;
  overflow-x: hidden;
}

// navbar
nav{
  padding: 15px 80px!important;
  animation: animNav 1s ease ;
  .navbar-brand{
    font-size: 32px;
    b{
      font-family: 'Roboto Mono', monospace!important;
      font-weight: 700;
      color: #fff!important;
    }
  }
  .navbar-nav{
    margin-left: auto;
    .nav-item{
      margin: 20px;
      font-size: 16px;
      font-family: 'Roboto Mono', monospace!important;
      a{
        color: #949494!important;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        &:hover{
          color: #fff!important;
        }
      }
    }
  }
}
// navbar fixed
nav.fixed{
  padding: 15px 80px!important;
  position: fixed;
  top:0;
  left: 0;
  z-index: 99;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: #101010cf;
  box-shadow: 0 5px 15px #0c0c0cde;
}

// about
.aboutinfo{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  padding: 70px !important;
  .side1{
    width: 55%;
    margin: 20px 0;
    .title{
      font-size: 70px;
      font-family: 'Roboto Slab', serif;
      font-weight: normal;
      color: #fff;
    }
    .discription{
      width: 70%;
      margin: 15px 3px 60px;
      color: #242b2f;
    }
  }
  .side2{
    img{
      border-radius: 50%;
      width: 500px;
    }
  }
}