// google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

// variables
$bgColor: #101010;

$whiteColor: #fff;
$titleColor: #E0E0E0;
$mainColor: #949494;

$homeButton: #2B2B2B;
$homeButton2: #2e89d3;

$robotoMono: 'Roboto Mono', monospace !important;
$robotoSlab: 'Roboto Slab', serif !important;

// edit scrollbar
::-webkit-scrollbar{
  width: 3px;
}
::-webkit-scrollbar-track{
  background-color: #000;
}
::-webkit-scrollbar-thumb{
  background-color: #fff;
  border-radius: 25px;
}

html{
  overflow-x: hidden;
}
body{
  background-color: $bgColor !important;
  overflow-x: hidden;
}

// navbar
nav{
  padding: 15px 80px!important;
  .navbar-brand{
    font-size: 32px;
    b{
      font-family: $robotoMono;
      font-weight: 700;
      color: $whiteColor !important;
    }
  }
  .navbar-nav{
    margin-left: auto;
    .nav-item{
      margin: 20px;
      font-size: 16px;
      font-family: $robotoMono;
      a{
        color: $mainColor !important;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.3s linear;
        -webkit-transition: all 0.3s linear;
        position: relative;
        &::after{
          content: '';
          position: absolute;
          top: 20px;
          left: 0;
          width: 0;
          height: 2px;
          background-color: $whiteColor;
          transition: all 0.3s linear;
        }
        &:hover{
          color: $whiteColor !important;
          &::after{
            width: 100%;
          }
        }
      }
    }
  }
}
// navbar fixed
nav.fixed{
  padding: 15px 80px!important;
  position: fixed;
  top:0;
  left: 0;
  z-index: 99;
  width: 100%;
  backdrop-filter: blur(10px);
  background-color: #101010cf;
  box-shadow: 0 5px 15px #0c0c0cde;
}

// about
.aboutinfo{
  display: flex;
  justify-content: center;
  // align-items: center;
  flex-direction: row-reverse;
  padding: 70px 0 !important;
  .side1{
    width: 55%;
    margin: 20px 0;
    .title{
      font-size: 70px;
      font-family: $robotoSlab;
      font-weight: 600;
      color: $titleColor !important;
    }
    .description{
      width: 70%;
      margin: 15px 3px 60px;
      color: $mainColor !important;
      font-size: 20px;
      font-family: $robotoSlab;
    }
    .buttons{
      .linkBtn{
        background-color: $homeButton;
        padding: 17px 40px;
        color: $titleColor;
        font-size: 20px;
        text-decoration: none;
        font-family: $robotoSlab;
        font-weight: 500;
        border-radius: 4px;
        transition: all 0.3s linear;
        &:hover{
          opacity: 0.5;
        }
        &:nth-child(2){
          background-color: $homeButton2;
          margin-left: 10px;
          transition: all 0.3s linear;
          &:hover{
            opacity: 0.8;
          }
        }
      }
    }
    .socialNet{
      display: flex;
      margin-top: 50px;
      .links{
        padding: 0 30px 0 0;
        .iconSvg{
          font-size: 35px;
          color: $titleColor;
          transition: all 0.3s linear ;
          &:hover{
            opacity: 0.5;
            transform: scale(1.3);
          }
        }
      }
    }
  }
  .side2{
    .myImage{
      border-radius: 50%;
      width: 400px;
    }
  }
}